# Ignore configuration files that may contain sensitive information.


# Ignore paths that contain generated content.


# Ignore default text files


# Ignore everything but the "sites" folder ( for non core developer )
